@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
    margin: 0;
    color: white;
    font-family: Signika,sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

h1,h2{
    margin-left: 10px;
}

.top{
    display: flex;
}

.sidebar{
    background-color: black;
    min-width: 250px;
    
}

.sidebar-links{
    height: calc(100vh - 140px);
    overflow: scroll;
}
    
::-webkit-scrollbar {
    display: none;
}

.sidebar div{
    padding: 10px;
}

/* .logo{
    max-width: 90%;
    height: 50px;
    padding: 20px 20px 0 10px;
} */

.side-icon{
    height: 15px;
    padding-right: 10px;
}

.main{
    background-image: linear-gradient(to bottom,#212121,#121212,#303030);
    width: 80vw;
    height: calc(100vh - 80px);
    overflow: scroll;
    padding: 20px;
}

.bottom{
    background-color: #181818;
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.player{
    height: 60px;
    text-align: center;
}

.player-opt{
    /* padding-top: 5px; */
    max-height: 60%;
    max-width: 100%;
    /* line-height: 60px; */
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-opt{
    position: fixed;
    right: 10px;
    max-height: 100%;
    max-width: 20%;
    padding-top: 15px;
}

.other-device{
    background-color: #1ED760;
    height: 20px;
    color: black;
    font-size: small;
    width: 100%;
    text-align: right;
    position: fixed;
}

.other-device p{
    margin: 0;
    padding: 0 10px;
}

.music-data{
    position: fixed;
    left: 0;
    display: flex;
    height: 100%;
    text-align: left;
    margin-top: 5px;
}

.music-img{
    padding-left: 5px;
    height: 50px;
}

.music-title{
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
}

.music-title > p{
    margin: 0;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 20px;
}

.nav-arrow{
    max-height: 80%;
}

.user{
    display: flex;
    background-color: black;
    width: fit-content;
    border-radius: 90px;
    height: 80%;
}

.user p{
    margin: auto 10px;
}

.user-img{
    border-radius: 100%;
    height: 100%;
}

.recent-card-grp{
    display: flex;
    flex-wrap: wrap;
}

.recent-card{
    min-width: 300px;
    display: block;
    height: 80px;
    background-color: #303030;
    border-radius: 10px;
    margin: 10px;
}

.recent-card img{
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.recent-title{
    display: inline-block;
    position: relative;
    bottom: 42%;
    left: 10px;
    height: 100%;
    color: white;
}

.reccommend-card-grp{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.reccommend-card{
    width: 170px;
    background-color: #181818;
    text-align: center;
    padding: 20px 0 5px 0;
    margin: 10px;

}

.reccommend-card img{
    max-width: 80%;
}

.toggle-logo{
    background-color: #212121;
    display: none;
}

.toggle-logo img, .logo{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

@media (max-width:500px){
    .main{
        width: 100vw;
    }

    .sidebar{
        min-width: 0;
        width: 0;
    }

    .sidebar.active{
        min-width: 250px;
    }

    .toggle-logo{
        display: block;
    }

    .toggle-logo.active{
        display: none;
    }
}
    

@media(max-width:750px){
    .right-opt,.music-data{
        display: none;
    }
}